
@media screen and (min-aspect-ratio: 1/1) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .min-h-gt-sm{
    min-height: 600px;
  }
}

.main-header .sidebar-toggle:before {
  content: unset;
}

.image-tile {
  /* width: 100%; 
  height: 100%; */
  border: 1px;
  border-style: dashed;
  border-radius: 7%;
}
.top-right-btn {
  position: absolute;
  top: -0.55em;
  right: -0.2em;
  font-size: 28px;
  color: rgb(221,44,0);


}
