  <div class="box-header with-border">
    <div layout='row' layout-align='start start'>
      <h1 class="display-1" flex='80' layout-fill>Histórico</h1>
    </div>




  </div><!-- /.box-header -->
 <div class="box-body box-profile h-100" style="align-items:stretch" >


    <!-- exact table from live demo -->
    <md-table-container  ng-init= "vm.subtableOnReady()">
      <table md-table md-row-select ng-model="vm.subtable.selectedRows" md-progress="promise">
        <thead md-head md-order="vm.subtable.order" >
          <tr md-row>
            <!-- <th md-column md-order-by="_id"><span>Id</span></th> -->
            <th md-column md-order-by="data"><span>Data</span></th>
            <th md-column >Pontos</th>
            <th md-column>Tipo</th>
            
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="op in vm.crud.target.historicoPontos  | orderBy: vm.subtable.order | filter: vm.subtable.filter track by op.data">
            <!-- <td md-cell>{{op._id}}</td> -->
            <td md-cell >{{op.data}}</td>
            <td md-cell >{{op.pontos}}</td>
            <td md-cell >{{ op.pontos > 0 ? 'Acumulados' : 'Trocado por Premio' }}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

  </div><!-- /.box-body -->
