<!--
Author: Ranjithprabhu K
Page Description: About Me page
Date: 05 Jan 2016
-->


<!-- Main content -->
<section class="content">
  <div class="row">

    <!-- Tabela de clientes -->
    <div name='tabelaclientes' class="col-md-9" style="height: 98vh; overflow-y: hidden;">
      <div class="box box-primary " ng-include='"./app/modules/dashboard/views/tables/clientes.html"'>
      </div><!-- /.box -->
    </div><!-- /.col -->

    <div class="col-md-3">
      <div ng-show='!vm.form.visible'>

        <div class="info-box">
          <span class="info-box-icon bg-aqua"><i class="fa fa-user"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Clientes</span>
            <span class="info-box-number" ng-model='vm.table.count'>{{vm.table.count}}</span>
            <span class="float-right">
              <a class="btn btn-primary btn-sm " style='float:right' ng-click='vm.crud.clear(); vm.form.show()'>Cadastrar
                Cliente</a>
            </span>
          </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
      </div>

      <!-- Formulário de clientes -->
      <div ng-show='vm.form.visible' class="box box-primary"
        ng-include='"./app/modules/dashboard/views/forms/clientes.html"'>
      </div>
      <!-- <div ng-show='vm.form.visible' class="box box-primary"
        ng-include='"./app/modules/dashboard/views/tables/cliente-historico.html"'>
      </div> -->

    </div>


  </div><!-- /.row -->
</section><!-- /.content -->