<!--
Author: Ranjithprabhu K
Page Description: About Me page
Date: 05 Jan 2016
-->


<!-- Main content -->
<section class="content">
  <div class="row">

    <!-- Tabela de pontos -->
    <div name='tabelapontos' class="col-md-8" style="height: 98vh; overflow-y: hidden;">
      <div class="box box-primary " ng-include='"./app/modules/dashboard/views/tables/pontos.html"'>
      </div><!-- /.box -->
    </div><!-- /.col -->

    <div class="col-md-4">
      
      <!-- Grafico de pontos -->
      <div class="box box-primary" ng-include='"./app/modules/dashboard/views/charts/historico-pontos-chart.html"' 
       onload="startPontosChart()" >
      </div>
      <!-- <div ng-show='vm.form.visible' class="box box-primary"
        ng-include='"./app/modules/dashboard/views/tables/cliente-historico.html"'>
      </div> -->

    </div>


  </div><!-- /.row -->
</section><!-- /.content -->